Chatbot/myToken.txt
Chatbot/myToken.txt.txt
Chatbot/myToken

ChatGPTEmail/myToken.txt
ChatGPTEmail/myToken.txt.txt
ChatGPTEmail/myToken

myToken.txt
myToken

superstuff.txt
superstuff

/myToken.txt
/myToken

myToken.txt/
myToken/

Chatbot/keys.txt
ChatGPTEmail/keys.txt

keys
keys.txt

venv
/venv

# Environments
.env
.venv
env/
venv/
ENV/